
<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    
    <link rel="icon" type="image/x-icon" href="{% static 'img/locuz.png'%}">
    <title>Ganana | Locuz</title>
<!--    <style>-->
<style>
    img.custom-ss-login-locuz-img {
    margin-left: 13px;
    width: 230px;
    margin-top:10px;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
</style>
<!--/* sign in FORM */-->
<!--#logreg-forms{-->
<!--    width:412px;-->
<!--    margin:5vh auto;-->
<!--    background-color:#f3f3f3;-->
<!--    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);-->
<!--  transition: all 0.3s cubic-bezier(.25,.8,.25,1);-->
<!--}-->
<!--#logreg-forms form {-->
<!--    width: 100%;-->
<!--    max-width: 410px;-->
<!--    padding: 15px;-->
<!--    margin: auto;-->
<!--}-->
<!--#logreg-forms .form-control {-->
<!--    position: relative;-->
<!--    box-sizing: border-box;-->
<!--    height: auto;-->
<!--    padding: 10px;-->
<!--    font-size: 16px;-->
<!--}-->
<!--#logreg-forms .form-control:focus { z-index: 2; }-->
<!--#logreg-forms .form-signin input[type="email"] {-->
<!--    margin-bottom: -1px;-->
<!--    border-bottom-right-radius: 0;-->
<!--    border-bottom-left-radius: 0;-->
<!--}-->
<!--#logreg-forms .form-signin input[type="password"] {-->
<!--    border-top-left-radius: 0;-->
<!--    border-top-right-radius: 0;-->
<!--}-->

<!--#logreg-forms .social-login{-->
<!--    width:390px;-->
<!--    margin:0 auto;-->
<!--    margin-bottom: 14px;-->
<!--}-->
<!--#logreg-forms .social-btn{-->
<!--    font-weight: 100;-->
<!--    color:white;-->
<!--    width:190px;-->
<!--    font-size: 0.9rem;-->
<!--}-->

<!--#logreg-forms a{-->
<!--    display: block;-->
<!--    padding-top:10px;-->
<!--    color:lightseagreen;-->
<!--}-->

<!--#logreg-form .lines{-->
<!--    width:200px;-->
<!--    border:1px solid red;-->
<!--}-->


<!--#logreg-forms button[type="submit"]{ margin-top:10px; }-->

<!--#logreg-forms .facebook-btn{  background-color:#3C589C; }-->

<!--#logreg-forms .google-btn{ background-color: #DF4B3B; }-->

<!--#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }-->

<!--#logreg-forms .form-signup .social-btn{ width:210px; }-->

<!--#logreg-forms .form-signup input { margin-bottom: 2px;}-->

<!--.form-signup .social-login{-->
<!--    width:210px !important;-->
<!--    margin: 0 auto;-->
<!--}-->

<!--/* Mobile */-->

<!--@media screen and (max-width:500px){-->
<!--    #logreg-forms{-->
<!--        width:300px;-->
<!--    }-->

<!--    #logreg-forms  .social-login{-->
<!--        width:200px;-->
<!--        margin:0 auto;-->
<!--        margin-bottom: 10px;-->
<!--    }-->
<!--    #logreg-forms  .social-btn{-->
<!--        font-size: 1.3rem;-->
<!--        font-weight: 100;-->
<!--        color:white;-->
<!--        width:200px;-->
<!--        height: 56px;-->

<!--    }-->
<!--    #logreg-forms .social-btn:nth-child(1){-->
<!--        margin-bottom: 5px;-->
<!--    }-->
<!--    #logreg-forms .social-btn span{-->
<!--        display: none;-->
<!--    }-->
<!--    #logreg-forms  .facebook-btn:after{-->
<!--        content:'Facebook';-->
<!--    }-->

<!--    #logreg-forms  .google-btn:after{-->
<!--        content:'Google+';-->
<!--    }-->

<!--}-->
<!--.header {-->
<!--  height:5rem;-->
<!--  color: white;-->
<!--  font-size: 20px;-->
<!--  margin-left: -5px;-->
<!--    margin-right: -6px;-->
<!--    margin-top: -5px;-->
<!--}-->

<!--img.custom-ss-login-locuz-img {-->
<!--    margin-left: 13px;-->
<!--    width: 230px;-->
<!--    margin-top:10px;-->
<!--}-->
<!--.login-site-header-vertical-separator {-->
<!--    width: 2px;-->
<!--    height: 70%;-->
<!--    background-color: #e2f0f0;-->
<!--    margin-right: 1rem;-->
<!--    margin-left: 2px;-->
<!--    border-right: solid 1px #bbbbbb;-->
<!--}-->
<!--    .custom-ss-login-cloutor-img-->
<!--    {-->
<!--        margin-top:40px;-->
<!--    }-->
<!--    body{-->
<!--        min-height: 720px;-->
<!--        padding: 5px;-->
<!--        background-color: #abdeea;-->
<!--    background: -webkit-linear-gradient(top, #abdeea 50%, white 100%);-->
<!--    overflow:hidden;-->
<!--    }-->
<!--    #logreg-formss{-->
<!--        padding: 5px;-->
<!--        background-color: #abdeea;-->
<!--    background: -webkit-linear-gradient(top, #abdeea 50%, white 100%)-->
<!--    }-->

<!--    </style>-->
</head>


<body style="
  background-image:url({% static 'img/cloud.png' %})">
<header  class="header">
    <input type="hidden" class="schema_name" value="{{request.schema_name }}">
<div class="">
    <div class="row">
        <div class="col-md-9">
            <img class="custom-ss-login-locuz-img" src="{% static 'img/ganana_logo.png' %}" >
        </div>
<!--        <div style="margin-top:10px" class="col-md-3">-->
<!--            <div class="btn">-->
<!--                        <a href="#" style="border-radius:40px;margin-left:30px" class="btn btn-md btn-primary " role="button" data-toggle="modal" data-target="#register-modal">Register</a>-->
<!--                        <a href="#" style="border-radius:40px;margin-left:30px" class="btn btn-md btn-primary" role="button" data-toggle="modal" data-target="#register-modal"><i class="fas fa-sign-in-alt"></i> Login</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
     <div class="row">
        <div class="col-md-7">
            <img style="width: 80%;padding-top: 15%;padding-left: 15%;" class="custom-ss-login-locuz-img" src="{% static 'img/conquo.png' %}" >
        </div>
         <div class="col-md-5">
            <div class="social-login" style="margin-left:20px;margin-top:200px">
                <div  class="msg"></div>
<!--                <input type="hidden" value="{{csrf_token}}" class="csrf_token">-->
                    {% csrf_token %}
                    <input type="tetx" style="width:50%" id="user1" class="custom-user-name form-control" placeholder="User Name" required="" autofocus=""><br>
                    <input type="password" style="width:50%" id="pass1" class="custom-password form-control" placeholder="Password" required="">
                        <br>
                    <a style="margin-top: 15px;position: absolute;margin-left: 165px;" data-toggle="modal"  data-target="#register-tenant-dialog" href="#" id="signup">Click here for SignUp</a>
                    <button class="btn btn-success btn-block" style="width:20%" type="submit" id="login_btn1"><i class="fas fa-sign-in-alt"></i> Sign in</button>

                    <a href="#" id="forgot_pswd">Forgot password?</a>
            </div>
        </div>
<!--        <div style="margin-top:10px" class="col-md-3">-->
<!--            <div class="btn">-->
<!--                        <a href="#" style="border-radius:40px;margin-left:30px" class="btn btn-md btn-primary " role="button" data-toggle="modal" data-target="#register-modal">Register</a>-->
<!--                        <a href="#" style="border-radius:40px;margin-left:30px" class="btn btn-md btn-primary" role="button" data-toggle="modal" data-target="#register-modal"><i class="fas fa-sign-in-alt"></i> Login</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>



</div>
</header>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<footer class="fixed-bottom sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span style="color:#7F7F7F"> Copyright © Locuz 2021</span>
                    </div>

                    <div style="margin-bottom:10px !important" class="copyright text-center my-auto">
                        <a style="margin-left:10px" href="#">Contact</a>
                        <a style="margin-left:10px" href="#">About</a>
                    </div>
                </div>
            </footer>
</body>


<div class="modal" id="login">
   <div class="modal-dialog" style="max-width:875px">
      <div class="modal-content" style="width:1100px">
         <!-- Modal Header -->
         <div class="modal-header" style="border-bottom:none">
            <span style="color:#0B5994" class="modal-title ec2-dialog-title">
               <h4 class="model-vol-des-heading" style="font-weight:600"></h4>
            </span>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <p style="margin-left: 17px;" class="custom-res-msg"></p>
         <!-- Modal body -->
         <div class="modal-body">

            <div id="logreg-forms">
        <div class="form-signin">
            <br>
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
<!--                <span style="color:#167da7;font-size:50px;font-family: serif;">Conquo</span>-->
                <img src="{% static 'img/Conquo-Logo.png'%}" width="350px">
            </h1>

            <br>
            <div  style="text-align: center;" class="msg"></div>
            <div class="social-login">
<!--                <input type="hidden" value="{{csrf_token}}" class="csrf_token">-->
                {% csrf_token %}
            <input type="tetx" id="user" class="custom-user-name form-control" placeholder="User Name" required="" autofocus=""><br>
            <input type="password" id="pass" class="custom-password form-control" placeholder="Password" required="">

            <button class="btn btn-success btn-block " type="submit" id="login_btn"><i class="fas fa-sign-in-alt"></i> Sign in</button>
<!--            <a href="#" id="forgot_pswd">Forgot password?</a>-->
            </div>

<!--            <hr>-->
            <!-- <p>Don't have an account!</p>  -->

            </div>
<!--<button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>-->



            <br>

    </div>
         </div>
         <!-- Modal footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>


<div class="modal" id="register-tenant-dialog">
   <div class="modal-dialog">
      <div class="modal-content" style="width:auto">
         <div class="modal-header" style="border-bottom:none">
            <span style="color:#0B5994" class="modal-title">
               <h4 class="" style="font-weight:600">Ganana Registration</h4>
            </span>
<!--            <button type="button" class="close" data-dismiss="modal">&times;</button>-->
         </div>

         <!-- Modal body -->
         <div class="modal-body">
            <h5 style="color: #09707f;font-weight: 500;" class="body-msg"></h5>
             <div class="row">
                         <div class="col-md-12">
                                <label for="pwd">Name:</label>
                                 <div class="input-group mb-3">
                                   <input type="text" class="tenant-name form-control" placeholder="Name" >
                                 </div>
                         </div>
                         <div class="col-md-12">
                                        <label for="pwd">Email:</label>
                                         <div class="input-group mb-3">
                                           <input type="text" class="tenant-email form-control" placeholder="Email" >
                                         </div>
                         </div>
<!--                   <div class="col-md-12">-->
<!--                                        <label for="pwd">Mobile:</label>-->
<!--                                         <div class="input-group mb-3">-->
<!--                                           <input type="text" class="tenant-mobile form-control" placeholder="Mobile" >-->
<!--                                         </div>-->
<!--                         </div>-->
                 <div class="col-md-12">
                                        <label for="pwd">Organisation:</label>
                                         <div class="input-group mb-3">
                                           <input type="text" class="tenant-org form-control" placeholder="Organisation" >
                                         </div>
                         </div>


             </div>
             <br>
            <button type="button" class="tenant-req-btn btn btn-success">Register</button><p style="margin-left: 17px;" class="custom-res-msg"></p>
         </div>
         <!-- Modal footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
</html>